@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Exo 2',
sans-serif;
font-family: 'Roboto',
sans-serif; */

header {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo{
    background: url("../images/image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    /* Set an image transition and add it for mozilla and other webkits to function across all browsers */
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}